@import url(https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --Orange: hsl(25, 97%, 53%);

    --Gradient-light-shade:  hsl(212, 18%, 14%);
    --Gradient-darker-shade:   hsl(220, 16%, 11%);

}

body {
    font-family: "Overpass",sans-serif
}

p {
    line-height: 1.8;
    color: var(--Light-Grey);
}

button {
    user-select: none;
}

ul,
li,
button {
    font-family: inherit;
    font-size: 1rem;
}

.btn{
    background-color: var(--Dark-Blue);
    width: 3rem;
    height: 3rem;
    color: var(--White);
    border:none;
    outline: none;
    border-radius: 50%;
    padding-top: 0.3rem;
    transition: 0.3s;
}

.btn:hover {
    background-color:var(--Light-Grey);
}

.btn:focus {
    background-color: var(--Orange);
}


.rating>li {
    cursor: pointer;
}

.container,
#fb-review {
    background-image: linear-gradient ( to bottom,
    var(--Gradient-light-shade), 
    var(--Gradient-darker-shade));
    padding: 2rem 1.5rem;
}

.star {
    
    padding: 0.8rem;
    border-radius: 50%;
    background-color: var(--Dark-Blue);
}

.container h1,
.review h2 {
    margin-bottom: 1rem;
}

.container ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .review img {
    margin: 0 auto 1rem;
  }