/**Font Imports**/

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/*COLOR PALETTE Variables*/

    :root {
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);

    --Orange: hsl(25, 97%, 53%);
    }

body {
    font-family: "Overpass", sans-serif;
}


button {
    font-family: inherit;
}

#container {
    min-height: 6rem;
}

.star {
    background-color: #262E38;
    border-radius: 50%;
    padding: 30px;
    z-index: -1;
}


.rating > li {
    width: 25px;
    height: 25px;
    background-color: var(--Light-Grey);
    background-size: cover;
    cursor: pointer;
    border-radius: 50%;
}

li:hover {
    background-color: var(--White);
}